

@media all and (max-width: 1226px) {

    /* .blog {
        padding: 0 !important;
    } */

    /* .item {
        max-width: 80% !important;
        margin: 0 auto;
    }
    .MuiGrid-item {
        margin: 0 auto !important;
    } */

    .textPaper {
        margin-left: 0 !important;
    }
    .portfolioFullWidth {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
    .textPaper {
        margin-left: 0!important;
    }
    .li {
        margin-bottom: 10px;
    }

    .input2 {
        width: 100% !important;
        margin: 0;
    }

}


@media all and (max-width: 960px) {
    .profileRoot {
        display: block !important;

    }
    .profile {
        display: none;
        position: inherit;
    }
    .children {
        margin-left:  85px !important;
        
    }

    .intro {
        left: 30% !important;
        display: none;
    }

    /* .fixed {
        flex: 0 1 !important;
    }
    .item {
        max-width: 50% !important;
        margin: 0 auto;
    } 


     .MuiGrid-item {
        margin: 0 auto !important;
    } */

    /* .main-menu {
        display: none !important;
    } */

}

@media all and (max-width: 650px){

    .intro {
        left: 30% !important;
    }

    .intro h1 {
        font-size: 40px !important;
    }

    .intro p {
        font-size: 18px !important;
    }
}

